@use "../../react-components/styles/theme.scss";
@import 'shared';

:local(.banner-advertisement-box) {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 200px;
    height: 80px;

    @media(max-width: theme.$breakpoint-sm) {
        width: 160px;
        height: 64px;
    }
}